.red{
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0 0 250px;
    border: 2px solid black;
    border-radius: 20px;
    width: 600px;
}

h1{
    width: 400px;
    text-align: center;
}

button{
    margin: 20px;
    

}